.bg-red{
    background-color: red;
    font-family: "Arial Rounded MT Bold";
    font-size: large;
}

.bg-black{
    background-color: black;
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: midnightblue;
}
